<p>Dear <%= @owner.name %>, </p>
<p></p>
<p><%= @claimer.name %> has chosen to withdraw from your consideration as a speaker for your event: <%= @event.title %>.</p>
<p>Thanks,</p>
<p>The School Business Team</p>