<p>Dear <%= @owner.name %>, </p>
<p></p>
<p>Unfortunately, <%= @claimer.name %> has to cancel as a speaker for your event: <%= @event.title %>. We are reactivating all prior claims on this event for your convenience.</p>
<p>Thanks,</p>
<p>The School Business Team</p>