<h1>The Event: "<%= @title %>" has been updated.</h1>

<p>The host has updated the event <%= @title %>. Please login to the School business app to view the detais about the event.</p>

<p>Thanks,</p>
<p>The School Business Team</p>