<h1>Your Password Has Changed!</h1>

<p>
  Hi <%= @user.name %>,</p>
<p>
	We wanted to let you know that your password was changed.   If this was done wtihout your knowledge, please contact us at <%= ENV["SENDGRID_USERNAME"] %>.
</p>
<p>Thanks! </p>
<p>School Business Team</p>
