<p>Dear <%= @claimer.name %>, </p>
<p></p>
<p><%= @owner.name %> has chosen to move forward with another candidate.  In the event of a cancellation, your claim will be reactivated.  Until then, we encourage you to engage with other events.  <p>
<p>Thanks,</p>
<p>The School Business Team</p>