<h1>The Event: "<%= @event.title %>" has been updated.</h1>

<p>The host <%= @sender.name %> has updated their event.</p> 
<p>Please login to the School business app to view the change.</p>

<p>Thanks,</p>
<p>The School Business Team</p>