<p>
  Hi <%= @recipient.name %>,</p>
<p>
	<%=@sender.name %> has send you a message:</p> 
	<hr>
	<p> <%= @message %></p>
<hr>
<p>
	You can reply to them at: <%= @sender.email %>
</p>
<p>Thanks! </p>
<p>School Business Team</p>