<h1>Welcome to the School Business App!</h1>

<p>
  Hi <%= User.find(@id).name %>,</p>
<p>
	We're very happy to have you using our app, a product that is the collaboration of the Delphos School District and the Ohio State University.  If you did not sign up for this app, please contact us at support@school2biz.com.  
</p>

<p>
	Please contact us if you have any questions!
</p>
<p>Thanks! </p>
<p>David Campbell</p>
<p>School Business Team</p>