<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'users/user_profile' %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.user_badges.any? %>
        <h3>Badges (<%= @user.user_badges.count %>)</h3>
        <ol class="user_badges">
          <%= render @user_badges %>
        </ol>
    <% end %>
  </div>
</div>