# Configure third-party service credentials 
# in environment variables:

# .ebextensions/packages.config
	packages:
		yum:
			postgresql-devel: []

# Run rake tasks before an application deployment
container_commands:
	01deploy:
		command: rake db:schema:load
		command: rake db:seed
		command: rake sunspot:solr:start