# Configure third-party service credentials 
# in environment variables:

# .ebextensions/packages.config
#ebextensions:
#	01settings.config:
#		container_commands:
#			01seed:
#				command: rakedb:schema:load
#				command: rake db:seed
#	02commands.config:
#		container_commands:
#			01timezone:
#				command: "ln -sf /usr/share/zoneinfo/America/Columbus /etc/localtime"

#	03-ruby.config			
#		packages:
##			yum:
#				git: []
#				nodejs: []
#				postgresql-devel: []
#		commands:
#			add_bundle_exec:

# Run rake tasks before an application deployment
#container_commands:
#	01deploy:
#		command: rake db:schema:load
#		command: rake db:seed
#		command: rake sunspot:solr:start